arrow
covidcast
cowplot
data.table
dplyr
ggplot2
ggpubr
gh
glue
grDevices
grid
gridExtra
gtable
lubridate
purrr
readr
remotes
scales
stringr
tibble
tidyr
tidyselect
https://github.com/midas-network/covid19SMHvalidation/archive/refs/heads/main.zip